// margin padding
$basePadding: 10px;
$mediumPadding: 15px;
$bigPadding: 30px;

$baseMargin: 10px;
$mediumMargin: 15px;
$bigMargin: 30px;

// font size
$smallFont: 1.4rem;
$mediumFont: 2rem;
$bigFont: 2.5rem;
$biggerFont: 3rem;